---
import { Image } from "astro:assets";

---

<div class="pt-24 pb-12 md:pt-36 md:pb-16  px-6">
    <!-- Section header -->
    <div class="max-w-[42rem] mx-auto text-center pb-12 md:pb-15">
        <h1 data-aos="zoom-out-down" data-aos-duration="1000" class=" text-[2.6rem] md:text-5xl lg:5xl font-extrabold tracking-normal !leading-tight mb-2" >Education should be free, but not everyone can afford free</h1>
        <p data-aos="zoom-out-up"  data-aos-delay="300" class="text-lg text-gray-600 leading-snug mt-4">
            Our training program is 100% free. You can learn to code and get an amazing job through live instruction with an amazing community. For those that need it, we also offer a way to earn while you learn through building real code for real clients. 
        </p>
    </div>

    <figure class="flex justify-center items-start">
        <Image 
            class="rounded shadow-2xl" 
            src={"/images/front-of-classroom-grayscale.png"} 
            alt="About us" 
            decoding="async"
            loading="lazy"
            width={'680'}
            height={'500'}
        />
    </figure>

</div>