---
import CheckMarkIcon from "../ui/CheckMarkIcon.astro";
import NotIncludedIcon from "../ui/NotIncludedIcon.astro";

---
<section>
    <div class="max-w-[55rem] lg:max-w-6xl mx-auto px-6">
        <div class="pt-8 md:pt-20 lg:pt-24">

            <!-- Section header -->
            <div class="pb-14">
                <h2 class=" text-3xl lg:text-[42px] font-[800]">Features</h2>
            </div>

            <!-- Table -->
            <div class="overflow-x-auto">
                <table class="table-auto w-full border-b border-gray-200">
                    <!-- Table header -->
                    <thead class=" ">
                        <tr class=" sm:text-lg border-t border-gray-200 py-4 " >
                            <th class="text-base lg:text-lg text-bold text-left  min-w-48 py-4">Breakdown of features</th>
                            <th class="text-base lg:text-lg text-bold text-center  py-4">Starter</th>
                            <th class="text-base lg:text-lg text-bold text-center  py-4">Premium</th>
                            <th class="text-base lg:text-lg text-bold text-center  py-4">Agency</th>
                            <th class="text-base lg:text-lg text-bold text-center  py-4">Enterprise</th>
                        </tr>
                    </thead>
                    <!-- Table body -->
                    <tbody>
                        <!-- Row -->
                        <tr class="border-t border-gray-200">
                            <td class=" sm:text-base py-4">
                                <div class="text-sm lg:text-base font-medium underline">Unlimited viewers</div>
                                <div class="text-sm lg:text-base  text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">
                                <CheckMarkIcon />
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">
                                <CheckMarkIcon />
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">
                                <CheckMarkIcon />
                            </td>
                            <td class="text-sm pl-2 lg:px-4 py-4 text-center font-medium">
                                <CheckMarkIcon />
                            </td>
                        </tr>
                        <!-- Row -->
                        <tr class="border-t border-gray-200">
                            <td class="text-sm sm:text-base pr-2 py-4">
                                <div class="text-sm lg:text-base font-medium underline">Team members</div>
                                <div class="text-sm lg:text-base text-gray-600">Excepteur sint occaecat cupidatat non proident</div>
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">3</td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">Unlimited</td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">Unlimited</td>
                            <td class="text-sm pl-2 lg:px-4 py-4 text-center font-medium">Unlimited</td>
                        </tr>
                        <!-- Row -->
                        <tr class="border-t border-gray-200">
                            <td class="text-sm sm:text-base pr-2 py-4">
                                <div class="text-sm lg:text-base font-medium underline">Projects</div>
                                <div class="text-sm lg:text-base text-gray-600">Culpa qui officia deserunt mollit anim</div>
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">3</td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">20</td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">50</td>
                            <td class="text-sm pl-2 lg:px-4 py-4 text-center font-medium">Unlimited</td>
                        </tr>
                        <!-- Row -->
                        <tr class="border-t border-gray-200">
                            <td class="text-sm sm:text-base pr-2 py-4">
                                <div class="text-sm lg:text-base font-medium underline">Dedicated support</div>
                                <div class="text-sm lg:text-base text-gray-600">Excepteur sint occaecat cupidatat non proident</div>
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">
                                <CheckMarkIcon />                                
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">
                                <CheckMarkIcon />                                
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">
                                <CheckMarkIcon />                                
                            </td>
                            <td class="text-sm pl-2 lg:px-4 py-4 text-center font-medium">
                                <CheckMarkIcon />                                
                            </td>
                        </tr>
                        <!-- Row -->
                        <tr class="border-t border-gray-200">
                            <td class="text-sm sm:text-base pr-2 py-4">
                                <div class="text-sm lg:text-base font-medium underline">Private projects</div>
                                <div class="text-sm lg:text-base text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">
                                <NotIncludedIcon />
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">
                                <CheckMarkIcon />
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">
                                <CheckMarkIcon />
                            </td>
                            <td class="text-sm pl-2 lg:px-4 py-4 text-center font-medium">
                                <CheckMarkIcon />
                            </td>
                        </tr>
                        <!-- Row -->
                        <tr class="border-t border-gray-200">
                            <td class="text-sm sm:text-base pr-2 py-4">
                                <div class="text-sm lg:text-base font-medium underline">Public repositories</div>
                                <div class="text-sm lg:text-base text-gray-600">Ut enim ad minim veniam quis nostrud exercitation ullamco</div>
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">
                                <NotIncludedIcon />
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">
                                <NotIncludedIcon />
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">
                                <CheckMarkIcon />                                
                            </td>
                            <td class="text-sm pl-2 lg:px-4 py-4 text-center font-medium">
                                <CheckMarkIcon />                                
                            </td>
                        </tr>
                        <!-- Row -->
                        <tr class="border-t border-gray-200">
                            <td class="text-sm sm:text-base pr-2 py-4">
                                <div class="text-sm lg:text-base font-medium underline">Account manager</div>
                                <div class="text-sm lg:text-base text-gray-600">Condimentum id venenatis a condimentum vitae</div>
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">
                                <NotIncludedIcon />                            
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">
                                <NotIncludedIcon />                              
                            </td>
                            <td class="text-sm px-2 lg:px-4 py-4 text-center font-medium">
                                <NotIncludedIcon />                            
                            </td>
                            <td class="text-sm pl-2 lg:px-4 py-4 text-center font-medium">
                                <CheckMarkIcon />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
