---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import PricingFeatures from '~/components/widgets/PricingFeatures.astro';
import PricingDetails from '~/components/widgets/PricingDetails.astro';
import PricingFAQ from '~/components/widgets/PricingFAQ.astro';
import PricingTestimonials from '~/components/widgets/PricingTestimonials.astro';
import Cta from '~/components/widgets/Cta.astro';

const metadata = {
  title: 'Pricing',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->
    <div class=" bg-gray-100 pb-8 pt-12">
      <HeroText
        title="Membership Levels"
        subtitle="Choose a plan that's right for you."
      />
        <PricingDetails />
    </div>
    <PricingFeatures />
    <PricingTestimonials />
    <PricingFAQ />
    <Cta />

</Layout>
