---
import { SITE } from '~/utils/config';
import { Image } from 'astro:assets';

---

<span class="self-top  font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <Image 
  class=" " 
  src={`${SITE.logo}`} 
  alt="#100Devs Logo" 
  decoding="async"
  loading="lazy"
  width={145}
  height={32}
/>
</span>
