---
import { APP_BLOG } from '~/utils/config';
import type { Post } from '~/types';

import Image from '~/components/common/Image.astro';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';


export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = (await findImage(post.image));
---

<article data-aos="zoom-in" class="relative flex flex-col justify-start mb-6 transition col-span-1 ">
  
  <div class="relative md:h-56 bg-gray-400 rounded shadow-lg mb-12">
    
    {
      image && (
        <a href={getPermalink(post.permalink, 'post')}>
          <Image
            src={image}
            class="object-cover w-full h-[255px] rounded shadow-lg bg-gray-400"
            width={352}
            height={198}
            alt={post.title}
            layout="cover"
            loading="lazy"
            decoding="async"
          />
        </a>
      )
    }
  </div>

  <ul class="flex flex-wrap text-xs font-medium pb-3">
    <li class="m-1">
      <a class="inline-flex text-center text-gray-100 py-1 px-3 rounded-full bg-blue-500 hover:bg-blue-600 transition duration-150 ease-in-out capitalize text-xs " href="#0">{post.category}</a>
    </li>
  </ul>

  <h3 class=" mb-11 font-bold sm:text-lg ">
    {
      !APP_BLOG?.post?.isEnabled ? (
        post.title
      ) : (
        <a
          href={getPermalink(post.permalink, 'post')}
          class="hover:text-primary text-xl leading-tight hover:text-blue-700  transition ease-in duration-200 "
        >
          {post.title}
        </a>
      )
    }
  </h3>
  <footer class="absolute bottom-0 text-sm flex items-center ">
    <div class="flex shrink-0 mr-3">
      <a class="relative" href="#0">
        <span class="absolute inset-0 -m-px" aria-hidden="true"><span class="absolute inset-0 -m-px bg-white rounded-full"></span></span>
        <Image 
          class="relative rounded-full" 
          src={`/images/leon-headshot.png`} 
          alt="Author - Leon Noel" 
          decoding="async"
          loading="lazy"
          width={32}
          height={32}
        />  
      </a>
    </div>
    <div>
      <span class="text-gray-600 text-sm">By </span>
      <a class="font-medium hover:underline sm" href="#0">Leon Noel</a>
    </div>
  </footer>

</article>
