<div class="relative flex flex-col items-center p-6 bg-white rounded shadow-xl h-[195px]">
    <svg class="w-16 h-16 p-1 -mt-1 mb-2" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd">
            <rect class="fill-current text-blue-600" width="64" height="64" rx="32" />
            <g stroke-width="2">
                <path class="stroke-current text-blue-300" d="M34.743 29.714L36.57 32 27.43 43.429H24M24 20.571h3.429l1.828 2.286" />
                <path class="stroke-current text-white" stroke-linecap="square" d="M34.743 41.143l1.828 2.286H40M40 20.571h-3.429L27.43 32l1.828 2.286" />
                <path class="stroke-current text-blue-300" d="M36.571 32H40" />
                <path class="stroke-current text-white" d="M24 32h3.429" stroke-linecap="square" />
            </g>
        </g>
    </svg>
    <h4 class="text-xl font-bold leading-snug tracking-tight mb-1">App Development</h4>
    <p class="text-gray-600 text-center">Crafting User-Friendly, Engaging Mobile Apps</p>
</div>